.img-slide {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e4e5ec;
    height: 400px;
}

.img-slide img{
    width: 100%;
    height: 100%;
    padding: 20px;
}

.thumbnail-carousel img {
    width: 60px; 
    height: 60px; 
    object-fit: cover;
     margin-right: 5px; 
}
    

/* Responsive adjustments */
@media (max-width: 768px) {
    .thumbnail-carousel {
        text-align: center;
    }

    #nav {
        margin-left: 0;
        text-align: center;
    }

    #nav li {
        display: block;
        margin: 0;
        padding: 10px 0;
    }

    #nav li a {
        display: block;
        padding: 10px 20px;
        margin: 0;
    }

    .footer-container2 {
        flex-direction: column;
    }

    .footer-bottom-wrapper {
        margin-bottom: 30px;
    }
}
