.card-img-top {
    height: 200px;
    object-fit: cover;
}

.div {
    border-right: 2px solid #ddd;
    height: 100%;
}

.dropdown-toggle {
    text-decoration: none;
    color: black;
}

.shop-first {
    color: #ffffff;
    background-color: black;
    margin-top: 5%;
    padding: 30px 10px 30px 10px;
    text-align: center;
}

.menu {
    margin-bottom: 10%;
}
.orange .btn{
    color: #ffffff;
}
.orange .btn-success-orange{ 
    color: #ffffff;  
    background-color: #e96f14;
    border: 1px solid #e96f14;
} 
.orange .btn:hover{
    background-color: #ffffff;
    border: 1px solid #1cc584;
}

.orange .btn-success-orange:hover {
    color: black;
    background-color: #fff;
    border: 1px solid #e96f14;
} 

