* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

#header {
    height: 75px;
    background-color: rgb(255, 225, 0);
    padding: 0px 30px;
    display: flex;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1000;
}

#header .logo img {
    width: 55px;
    height: 55px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

#nav {
    list-style: none;
    display: flex;
    margin-bottom: 0;
}

#nav li a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0 25px;
}

#nav li:hover {
    text-decoration: underline;
}

.search-btn {
    align-items: center;
    font-size: 1.3em;
    margin-left: auto;
}

#slider{
    margin-top: 75px;
    padding-top: 31.5%;
    background: url('/assets/img/Icons-10330-HT-202403-Hero-Standard-Large-new.webp') top center / cover no-repeat ;
    
}

#slider .text-slider{
    position: absolute;
    text-align: right;
    top: 35%;
    right: 10%;
    background-color: transparent;
    color: #fff;
    transform: translateY(-50%);
    padding: 0px;
    max-width: 35%;
}

#slider .text-heading{
    font-size: 2rem;
    font-weight: 500;
}

#slider .text-content{
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin-top: 1rem;
}

.button-shopnow .btn-light{
    margin: 20px 10px 0px;
    padding: 10px 16px;
}

.button-shopnow .btn-light:hover, .fa-solid.fa-arrow-right:hover{
    background-color: black;
    color: #fff;
}

.button-shopnow .fa-solid.fa-arrow-right{
    margin-left: 12px;
}

#sidebar {
    padding: 40px 30px;
    
}

#sidebar .layout-sidebar{
    display: flex;
    flex-direction: column;
}

.card-inner-content h2{
    font-weight: 400;
    margin-bottom: 20px;
}

.layout-sidebar .card-outer-content{
    display: flex;
    width: 100%;
    gap: 20px;
}

.card-content-styles img{
    max-width: 100%;
    height: auto;
    display: block;
}

.card-content-styles .text-card-content{
    text-align: center;
}

.card-content-styles .text-card-content h3{ 
    font-size: 20px;
}

/* Spotlight */
.layout-styles{
    padding: 40px 30px;
    background-color: #e4e5ec;
}

.content-spotlight {
    display: flex;
    flex-direction: column;
}

.content-spotlight h2 {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 20px;
}

.content-spotlight .content-block {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.content-block .block-left{
    display: flex;
    flex: 1;
    margin-right: 20px;
}

.content-block .block-right {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.block-right .right-top{
    display: flex;
    margin-bottom: 20px;
}

.block-right .right-bottom{
    display: flex;
}

.content-block .block-left img{
    max-width: 100%;
    height: auto;
}

.block-right .right-top img, 
.block-right .right-bottom img {
    max-width: 50%;
    height: auto;
}

.right-top .text-block{
    display: flex;
    flex-direction: column;
    background-color: rgb(245, 154, 84);
    padding: 20px;
    justify-content: center;
}

.right-bottom .text-block{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    justify-content: center;
    flex: 1;
}

.text-block h2, a{
    font-weight: 500;
}

.button-spotlight a i{
    padding-left: 10px;
}

.text-block .button-spotlight:hover {
    text-decoration: underline;
}

/* welcome */
#welcome{
    padding: 40px 30px;
}

.text-welcome{
    background-color: #f2f2f2;
    padding: 20px;
    font-size: 14px;
    margin: 0 16px;
}

/* Highest-rated */
.carousel-wrapper {
    display: flex;
    justify-content: space-between;
}

.product-wrapper {
    flex: 1;
    padding: 0 14px;
}

.product-carousel-wrapper h2{
    padding: 0 14px;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 24px;
}

.product-leaf {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border: 1px solid #e4e5ec;
}

.product-styles {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e4e5ec;
    height: 300px;
}

.product-styles img {
    width: 100%;
    height: 100%;
    padding: 50px;
}

.text-wrapper {
    display: flex;
    flex-direction: column;
    padding: 12px 20px 20px;
    height: 180px;
}

.text-wrapper h3 {
    font-size: 16px;
    margin-bottom: 10px;
}

.text-wrapper .btn {
  background-color: #e96f14;
  border: #e96f14;
  color: black;
  font-weight: 500;
  padding: 10px 15px;
}

.text-wrapper p{
    margin-top: auto;
}

.text-wrapper .btn:hover {
    color: black;
    background-color: #fff;
    border: 1px solid #e96f14;
}
/* footer */
#footer {
    background-color: #201d48;
    display: flex;
    color: #fff;
}

#footer .footer-container1{
    flex: 1;
}

#footer .footer-container2{
    flex: 2;
    display: flex;
    padding: 40px 40px 0 0;
}


.footer-wrapper{
    padding: 40px 20px 20px 40px;
}

.footer-wrapper .logo{
    margin-bottom: 20px;
}

.footer-wrapper p{
    padding: 10px 0;
    margin: 0;
}

.footer-bottom-wrapper h4{
    margin-bottom: 25px;
    padding: 0 32px;
}

.footer-container2 .footer-bottom-wrapper li:hover{
    text-decoration: underline;
}

.footer-bottom-wrapper ul li{
    padding: 10px 15px 10px 0;
}
